este es el form
<div class="sorting__inner">
    <div class="sorting__item">
        <span class="sorting__title">Categoria</span>
        <div class="select jelect">
            <select><option>Camiones</option></select>
        </div>
    </div>
    <div class="sorting__item">
        <span class="sorting__title">Marca</span>
        <div class="select jelect">
            <select><option>Volvo</option></select>
        </div>
    </div>
    <div class="sorting__item">
        <input type="hidden" id="sort-purpose" name="purpose" value="">
    </div>
</div>

{{yield}}
