<header class="header header-full-width navbar-fixed-top header-background-trans-black-rgba0 header-color-white header-logo-white header-navibox-1-left header-navibox-2-right header-navibox-3-right header-navibox-4-right wide-header1--trans-black--menu-marker-arrow-full--1-292-left-1-1-1">
  <div class="container container-boxed-width">
    <nav id="nav" class="navbar">
      <div class="container ">
        <div class="header-navibox-1">
          <button class="menu-mobile-button visible-xs-block js-toggle-mobile-slidebar toggle-menu-button ">
            <span class="toggle-menu-button-icon">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </span>
          </button>
          <a class="navbar-brand scroll" href="http://rutasurtrucks.com.ar/">
            <img class="normal-logo" src="http://rutasurtrucks.com.ar/wp-content/uploads/2017/09/logodecker.png" alt="logo">
            <img class="scroll-logo hidden-xs" src="http://rutasurtrucks.com.ar/wp-content/uploads/2017/09/logodecker.png" alt="logo">
          </a>
        </div>
        <div class="header-navibox-4"></div>
        <div class="header-navibox-3">
          <ul class="nav navbar-nav hidden-xs">
              <li>
                <button class=" js-toggle-left-slidebar toggle-menu-button ">
                  <span class="toggle-menu-button-icon"><span></span> <span></span> <span></span>
                    <span></span> <span></span> <span></span></span>
                </button>
              </li>
          </ul>
        </div>
      <div class="header-navibox-2">
        <ul id="menu-main-menu-2" class="yamm main-menu nav navbar-nav  menu-marker-arrow">
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-8050 dropdown"><a href="http://rutasurtrucks.com.ar/">Inicio</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-8212 dropdown"><a href="http://rutasurtrucks.com.ar/agencias/">Agencias</a></li>
          <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8074 dropdown"><a href="http://rutasurtrucks.com.ar/contact/">Contacto</a></li>
        </ul>
      </div>
    </div>
  </nav>
  </div>
</header>


{{yield}}
