este es el bloque de una unidad


<article class="card clearfix" id="post-8009">
<div class="card__img">
                        <a href="http://rutasurtrucks.com.ar/autos/volvo-fh/">
            <img width="235" height="196" src="http://rutasurtrucks.com.ar/wp-content/uploads/2016/10/Screenshot_16-235x196.png" class="img-responsive wp-post-image" alt="" srcset="http://rutasurtrucks.com.ar/wp-content/uploads/2016/10/Screenshot_16-235x196.png 235w, http://rutasurtrucks.com.ar/wp-content/uploads/2016/10/Screenshot_16-470x392.png 470w" sizes="(max-width: 235px) 100vw, 235px">                    </a>
                                </div>
<div class="card__inner">
    <h2 class="card__title ui-title-inner"><a href="http://rutasurtrucks.com.ar/autos/volvo-fh/">Volvo FH</a></h2>
    <div class="decor-1"></div>
    <div class="card__description">
        <p></p><p>Cullam semper aibe vestibulum</p>
<p></p>
    </div>
    <!-- Car Details -->
    <ul class="card__list list-unstyled">

                            <li class="card-list__row">
            <span class="card-list__title">Stock status:</span>
            <span class="card-list__info">In stock</span>
        </li>

                            <li class="card-list__row">
            <span class="card-list__title">Fuel:</span>
            <span class="card-list__info">Diesel</span>
        </li>


                            <li class="card-list__row">
            <span class="card-list__title">Year:</span>
            <span class="card-list__info">2017</span>
        </li>

                                      <li class="card-list__row">
            <span class="card-list__title">Color:</span>
            <span class="card-list__info">1</span>
        </li>



                                <li class="card-list__row">
                <span class="card-list__title">Condition:</span>
                                        <span class="card-list__info">New</span>
                                    </li>





                                <li><span>20 octubre, 2016</span></li>

    </ul><!-- / Car Details -->


</div>

</article>



{{yield}}
