<html lang="es-ES" class=" js cssanimations ua-chrome ua-chrome-63 ua-chrome-63-0 ua-chrome-63-0-3239 ua-chrome-63-0-3239-132 ua-desktop ua-desktop-macintosh ua-mac_os_x ua-mac_os_x-10 ua-mac_os_x-10-13 ua-mac_os_x-10-13-2 ua-webkit ua-webkit-537 ua-webkit-537-36 js"><head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<link rel="profile" href="http://gmpg.org/xfn/11">
<link rel="pingback" href="http://rutasurtrucks.com.ar/xmlrpc.php">
<title>lista de usados | Ruta Sur Trucks</title>
<!-- All in One SEO Pack 2.4.3.1 by Michael Torbert of Semper Fi Web Design[256,302] -->
<link rel="canonical" href="http://rutasurtrucks.com.ar/lista-de-usados/">
			<script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript">
				window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
				ga('create', 'UA-97708640-6', { 'cookieDomain': 'rutasurtrucks.com.ar' } );
				// Plugins
				ga('require', 'outboundLinkTracker');
				ga('send', 'pageview');
			</script>
			<script async="" src="https://www.google-analytics.com/analytics.js"></script>
			<script async="" src="https://cdnjs.cloudflare.com/ajax/libs/autotrack/2.4.0/autotrack.js"></script>
<!-- /all in one seo pack -->
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//s.w.org">
<link rel="alternate" type="application/rss+xml" title="Ruta Sur Trucks » Feed" href="http://rutasurtrucks.com.ar/feed/">
<link rel="alternate" type="application/rss+xml" title="Ruta Sur Trucks » RSS de los comentarios" href="http://rutasurtrucks.com.ar/comments/feed/">
<link rel="alternate" type="application/rss+xml" title="Ruta Sur Trucks » lista de usados RSS de los comentarios" href="http://rutasurtrucks.com.ar/lista-de-usados/feed/">
<link rel="stylesheet" id="fil-theme-autoicon-css" href="http://rutasurtrucks.com.ar/wp-content/themes/autozone/fonts/autoicon/fontello.css" type="text/css" media="all">
<link rel="stylesheet" id="fil-theme-cars-css" href="http://rutasurtrucks.com.ar/wp-content/themes/autozone/fonts/cars/flaticon.css" type="text/css" media="all">
<link rel="stylesheet" id="fil-theme-elegant-css" href="http://rutasurtrucks.com.ar/wp-content/themes/autozone/fonts/elegant/style.css" type="text/css" media="all">
<link rel="stylesheet" id="fil-theme-flaticon-css" href="http://rutasurtrucks.com.ar/wp-content/themes/autozone/fonts/flaticon/flaticon.css" type="text/css" media="all">
<link rel="stylesheet" id="fil-theme-fontawesome-css" href="http://rutasurtrucks.com.ar/wp-content/themes/autozone/fonts/fontawesome/css/font-awesome.css" type="text/css" media="all">
<link rel="stylesheet" id="fil-theme-simple-css" href="http://rutasurtrucks.com.ar/wp-content/themes/autozone/fonts/simple/style.css" type="text/css" media="all">
<link rel="stylesheet" id="bootstrap-css" href="http://rutasurtrucks.com.ar/wp-content/plugins/pix-auto-deal/assets/css/bootstrap.css" type="text/css" media="all">
<link rel="stylesheet" id="pixad-autos-css" href="http://rutasurtrucks.com.ar/wp-content/plugins/pix-auto-deal/assets/css/pixad-autos.css" type="text/css" media="all">
<link rel="stylesheet" id="font-awesome-css" href="http://rutasurtrucks.com.ar/wp-content/plugins/js_composer/assets/lib/bower/font-awesome/css/font-awesome.min.css" type="text/css" media="all">
<link rel="stylesheet" id="magnific-popup-css" href="http://rutasurtrucks.com.ar/wp-content/plugins/pix-auto-deal/assets/css/magnific-popup.css" type="text/css" media="all">
<link rel="stylesheet" id="rs-plugin-settings-css" href="http://rutasurtrucks.com.ar/wp-content/plugins/revslider/public/assets/css/settings.css" type="text/css" media="all">

<link rel="stylesheet" id="style-css" href="http://rutasurtrucks.com.ar/wp-content/themes/autozone/style.css" type="text/css" media="all">
<link rel="stylesheet" id="autozone-master-css" href="http://rutasurtrucks.com.ar/wp-content/themes/autozone/css/master.css" type="text/css" media="all">
<link rel="stylesheet" id="autozone-fonts-css" href="https://fonts.googleapis.com/css?family=Raleway%3A300%2C400%2C500%2C600%2C700%2C800%7CUbuntu%3A300%2C400%2C500%2C700%7CDroid+Serif%3A400italic&amp;subset=latin%2Ccyrillic%2Clatin-ext" type="text/css" media="all">
<link rel="stylesheet" id="owl-css" href="http://rutasurtrucks.com.ar/wp-content/themes/autozone/assets/owl-carousel/owl.carousel.css" type="text/css" media="all">
<link rel="stylesheet" id="owltheme-css" href="http://rutasurtrucks.com.ar/wp-content/themes/autozone/assets/owl-carousel/owl.theme.css" type="text/css" media="all">
<link rel="stylesheet" id="autozone-header-css" href="http://rutasurtrucks.com.ar/wp-content/themes/autozone/assets/header/header.css" type="text/css" media="all">
<link rel="stylesheet" id="autozone-header-yamm-css" href="http://rutasurtrucks.com.ar/wp-content/themes/autozone/assets/header/yamm.css" type="text/css" media="all">
<link rel="stylesheet" id="autozone-degrees360css-css" href="http://rutasurtrucks.com.ar/wp-content/themes/autozone/assets/degrees360/css/style.css" type="text/css" media="all">
<link rel="stylesheet" id="autozone-swipebox-css-css" href="http://rutasurtrucks.com.ar/wp-content/themes/autozone/assets/swipebox/css/swipebox.min.css" type="text/css" media="all">

<link rel="https://api.w.org/" href="http://rutasurtrucks.com.ar/wp-json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://rutasurtrucks.com.ar/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://rutasurtrucks.com.ar/wp-includes/wlwmanifest.xml">
<meta name="generator" content="WordPress 4.9.1">
<meta name="generator" content="WooCommerce 3.2.6">
<link rel="shortlink" href="http://rutasurtrucks.com.ar/?p=9409">
<link rel="alternate" type="application/json+oembed" href="http://rutasurtrucks.com.ar/wp-json/oembed/1.0/embed?url=http%3A%2F%2Frutasurtrucks.com.ar%2Flista-de-usados%2F">
<link rel="alternate" type="text/xml+oembed" href="http://rutasurtrucks.com.ar/wp-json/oembed/1.0/embed?url=http%3A%2F%2Frutasurtrucks.com.ar%2Flista-de-usados%2F&amp;format=xml">
	<noscript>&lt;style&gt;.woocommerce-product-gallery{ opacity: 1 !important; }&lt;/style&gt;</noscript>
			<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
		<meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress.">
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="http://rutasurtrucks.com.ar/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]--><meta name="generator" content="Powered by Slider Revolution 5.4.5.1 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface.">
<link rel="icon" href="http://rutasurtrucks.com.ar/wp-content/uploads/2017/09/logodecker.png" sizes="32x32">
<link rel="icon" href="http://rutasurtrucks.com.ar/wp-content/uploads/2017/09/logodecker.png" sizes="192x192">
<link rel="apple-touch-icon-precomposed" href="http://rutasurtrucks.com.ar/wp-content/uploads/2017/09/logodecker.png">
<meta name="msapplication-TileImage" content="http://rutasurtrucks.com.ar/wp-content/uploads/2017/09/logodecker.png">
</head>

<body class="page-template page-template-autos page-template-autos-php page page-id-9409 animated-css layout-switch wpb-js-composer js-comp-ver-5.2.1 vc_responsive" data-scrolling-animations="false" data-header="fixed-header">
<!-- Loader -->
		<div id="page-preloader" style="display: none;">
      <div class="thecube">
    		<div class="cube c1"></div>
    		<div class="cube c2"></div>
    		<div class="cube c4"></div>
    		<div class="cube c3"></div>
    	</div>
    </div>

		<div data-off-canvas="slidebar-1 left overlay" class="slidebar-menu" style="margin-left: -256px;">
			<div class="menu-main-menu-container">
				<ul id="menu-main-menu" class="nav navbar-nav">
					<li id="menu-item-8050" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-8050"><a href="http://rutasurtrucks.com.ar/">Inicio</a></li>
					<li id="menu-item-8212" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-8212"><a href="http://rutasurtrucks.com.ar/agencias/">Agencias</a></li>
					<li id="menu-item-8074" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8074"><a href="http://rutasurtrucks.com.ar/contact/">Contacto</a></li>
				</ul>
			</div>
		</div>
<div data-off-canvas="slidebar-5 left overlay" class="mobile-slidebar-menu" style="margin-left: -256px;">
		<button class="menu-mobile-button visible-xs-block js-toggle-mobile-slidebar toggle-menu-button">
			<span class="toggle-menu-button-icon"><span></span> <span></span> <span></span> <span></span>
				<span></span> <span></span></span>
		</button>
		<ul id="menu-main-menu-1" class="yamm main-menu nav navbar-nav">
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-8050 dropdown"><a href="http://rutasurtrucks.com.ar/">Inicio</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-8212 dropdown"><a href="http://rutasurtrucks.com.ar/agencias/">Agencias</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8073 dropdown"><a href="http://rutasurtrucks.com.ar/unidades/">Unidades</a></li>
			<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8074 dropdown"><a href="http://rutasurtrucks.com.ar/contact/">Contacto</a></li>
		</ul>
</div>

<div class="layout-theme animated-css" data-header="sticky" data-header-top="200">

{{menu-usados}}

	<div class="block-title">
		<div class="block-title__inner section-bg section-bg_second" style="background-image:url(http://rutasurtrucks.com.ar/wp-content/uploads/2017/11/2326x800-volvo-fm-truck-storage-tanks-imgtxt-1024x352.jpg);">
   	<span class="vc_row-overlay" style="background-color: rgba(0,0,0,0.5) !important;"></span>
			<div class="bg-inner">
				<h1 class="ui-title-page">lista de usados</h1>
				<div class="decor-1 center-block"></div>
				<nav class="woocommerce-breadcrumb">
					<a href="http://rutasurtrucks.com.ar">Inicio</a>&nbsp;/&nbsp;lista de usados
				</nav>
			</div>
			<!-- end bg-inner -->
	</div><!-- end block-title__inner -->
	</div>
	<div id="wrapper">
		<div class="container">
    		<div class="row">
           <div class="rtd"> </div>
	        <div class="col-md-12">
   	     		<main class="main-content">
						<div class="sorting" id="pix-sorting">


{{form-filter}}





              </div>
						<!-- end sorting -->
                	<div class="pix-dynamic-content">


					    <div class="pix-ajax-loader">
					        <div id="cssload-wrapper">
					            <div class="cssload-loader">
					                <div class="cssload-line"></div>
					                <div class="cssload-line"></div>
					                <div class="cssload-line"></div>
					                <div class="cssload-line"></div>
					                <div class="cssload-line"></div>
					                <div class="cssload-line"></div>
					                <div class="cssload-subline"></div>
					                <div class="cssload-subline"></div>
					                <div class="cssload-subline"></div>
					                <div class="cssload-subline"></div>
					                <div class="cssload-subline"></div>
					                <div class="cssload-loader-circle-1"><div class="cssload-loader-circle-2"></div></div>
					                <div class="cssload-needle"></div>
					                <div class="cssload-loading">loading</div>
					            </div>
					        </div>
					    </div>

                    <div id="pixad-listing">



                      {{outlet}}




                    </div>

                </div>

            </main><!-- end main-content -->
        </div><!-- end col -->
    </div><!-- end row -->
</div>


<footer class="footer">

     <div class="container"> <div class="wrap-section-border"><div class="bg_inner border-section-top border-section-top_mod-b" style="width: 1305px; margin-left: -82.5px;"></div></div></div>

    <div>
        <section class="section_mod-h section-bg section-bg_second">
            <div class="bg-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <a href="http://rutasurtrucks.com.ar/" class="logo">
																	<img class="logo__img img-responsive" src="http://rutasurtrucks.com.ar/wp-content/uploads/2017/09/logodeckermin-footer.png" alt="Footer Logo">
															</a>
                            <div class="decor-1 decor-1_mod-b"></div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- end container -->
            </div>
            <!-- end bg-inner -->
        </section>
        <!-- end section_mod-b -->
    </div>
    <!-- end wrap-section-border -->
    <div class="footer__wrap-btn"> <a class="footer__btn" href="javascript:void(0);">top</a> </div>
    <div class="copyright">Ruta Sur Trucks - BP Sistemas - 2017</div>
</footer>

</div></div>

</body></html>
